.bg-image {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('/public/assets/circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1; /* To place the background image behind the content */
  }

.large-text{
    font-size: 300px;
}

.small-text{
    font-size: 30px;
}

.lets-go {
    display: inline-block;
    border: 3px solid black;
    border-radius: 25px;
    padding: 3px; /* Adjust padding as needed */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: bolder;
}

@media only screen and (max-width: 580px) {
    .large-text{
        font-size: 40px;
    }
    .small-text{
        font-size:10px;
    }
    .lets-go {
        display: inline-block;
        border: 3px solid black;
        border-radius: 25px;
        padding: 3px; /* Adjust padding as needed */
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .bg-image {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url('/public/assets/circle.png'); /* Path to your PNG image */
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        z-index: -1; /* To place the background image behind the content */
      }
    
  }
